* { font-family: 'Open Sans'; }
body { margin: 0; padding: 0; }

.left { min-height: 1024px; padding: 0; margin: 0; overflow: hidden; width: 18%; float: left; }
.right { padding:0; margin: 0; overflow: hidden; width: 82%; float: right;}
#map { width: 100%; min-height: 1024px; height: 100%; }
#header { margin: 0; padding: 15px 5px; font-size: 21px; font-weight: normal; color: #fff; background-color: #3C4E5A; }

#location-info {
  padding: 5px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 12px;
  color: #fff;
  background-color: indianred;
}

.header { font-weight: normal; font-size: 14px; padding: 0; margin: 0; margin-bottom: 5px; color: #3C4E5A; }

#location-info #num-stops { font-weight: bold; }
#location-info #walking-distance { font-weight: bold; }

#stop-container { padding: 5px; padding-top: 10px; padding-bottom: 10px; background-color: mediumseagreen; }
#stop-name { font-size: 16px; color: #fff; margin: 0; }
#stop-distance { font-size: 12px; color: #fff; margin: 0; }

#route-container { padding: 5px; background-color: snow; margin-top: 5px; }

#arriving-soon-container { margin-bottom: 20px; }
#arriving-soon-container h2 { display: none; }
#arriving-soon { list-style: none; margin: 0; padding: 0; }
#arriving-soon li { font-size: 12px; color: #333; padding: 2px 2px; cursor: pointer; }
#arriving-soon li.active { display: block; }
#arriving-soon li.inactive { display: none; }

#all-routes-container { margin-bottom: 20px; }
#all-routes-container h2 { display: none; }
#all-routes { margin-top: 10px; }
#all-routes select { width: 260px; }

#shape-container { padding: 5px; }
#shape-container #shape-info { margin-top: 0px; }
.shape-meta { font-size: 12px; margin: 0; padding-bottom: 4px; color: lightblue; }
.stop-on-shape { font-size: 11px; padding: 1px 2px; }
.stop-on-shape:nth-child(odd) { background-color: #eee; }
.stop-on-shape.highlight { background-color: mediumseagreen; color: #fff; }
.stop-on-shape strong { display: inline-block; margin-right: 8px; }

.leaflet-popup-content .stop-name { padding-bottom: 8px; display: inline-block; }
.leaflet-popup-content .stop-id { font-size: 10px; color: #999; }

#service-info { padding-top: 5px; }
#service-info div { color: #3C4E5A; font-weight: normal; }

#service-next { }
.service { padding-top: 1px; padding-bottom: 1px; }
.bus-number{ background: #2775DB; display: inline-block; color: #fff; padding: 1px 2px; }
.service .bus-number.mbus { background: red; }
