* { font-family: 'Open Sans'; }
body { margin: 0; padding: 0; }

#app-startup {
  width: 400px;
  height: 200px;
  background-color: #fff;
  position: absolute;
  top: 25%;
  left: 35%;
  padding: 12px;
}
#geolocate { }

#services-within-radius {
  padding: 5px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  font-size: 12px;
  color: #fff;
  background-color: #4690f2;
  border-bottom: 1px solid #1f70d3;
  /*display: none;*/
}
#near-me #stops-nearby { margin-bottom: 6px; }
#near-me select { margin-right: 3px; }
#near-me label { display: inline-block; margin-left: 3px; }
#find-services { margin-top: 10px; }

.left { min-height: 1024px; padding: 0; margin: 0; overflow: hidden; width: 18%; float: left; display: none; background-color: #fff;}
.right { padding:0; margin: 0; overflow: hidden; width: 82%; float: right;}
.right.init { width: 100%; }

#overlay { position: absolute; left: 0; width: 100%; min-height: 1024px; height: 100%; background-color: transparent; opacity: 1; }



#map { width: 100%; min-height: 1024px; height: 100%; }
.init { width: 100%; height: 100%; }
.blur { -webkit-filter: blur(5px); }

#header { margin: 0; padding: 10px 8px; font-size: 16px; font-weight: normal; color: #fff; background-color: #3C4E5A; }
.header { font-weight: normal; font-size: 14px; padding: 0; margin: 0; margin-bottom: 5px; color: #3C4E5A; }

#stop-container {
  height: 56px;
  background: mediumpurple url('../img/stop-icon-white-m.png') 4 9 no-repeat;
  padding: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: none;
}
#stop-name { font-size: 16px; color: #fff; margin: 0; padding-left: 34px; text-shadow: 1px 1px 0px purple; }
#stop-distance { font-size: 12px; color: #fff; margin: 0; padding-left: 34px; text-shadow: 1px 1px 0px purple; }

#route-container { padding: 5px; margin-top: 5px; display: none; }

#arriving-soon-container { margin-bottom: 20px; }
#arriving-soon { list-style: none; margin: 0; padding: 0; }

.grouped-service-container { padding-bottom: 20px; }
.grouped-service-container h5 {
  padding-bottom: 10px;
  text-transform: uppercase;
  font-size: 12px;
  color: #777;
}
.grouped-service-container .service { padding: 0; margin: 0; }
.grouped-service-container .service .service-desc { overflow: hidden; font-size: 14px; color: #333; padding: 2px 2px; cursor: pointer; }
.grouped-service-container .service .service-desc .bus-headsign { float: left;  }
.grouped-service-container .service .service-desc .bus-number {
  background: #2775DB;
  display: inline-block;
  color: #fff;
  padding: 1px 2px;
  min-width: 34px;
  text-align: center;
  margin-right: 10px;
  float: left;
}

.grouped-service-container .service .service-actions .show-route {
  font-size: 11px;
  float: left;
  margin-left: 45px;
  color: darkgray;
  cursor: pointer;
}
.grouped-service-container .service .service-actions .show-route:hover { color: #333; }


#shape-container { padding: 5px; }
#shape-container #shape-info { margin-top: 0px; }
.shape-meta { font-size: 12px; margin: 0; padding-bottom: 4px; color: lightblue; }
.stop-on-shape { font-size: 11px; padding: 1px 2px; }
.stop-on-shape:nth-child(odd) { background-color: #eee; }
.stop-on-shape.highlight { background-color: mediumpurple; color: #fff; }
.stop-on-shape.match-stop { background-color: cornflowerblue; color: #fff;  }
.stop-on-shape strong { display: inline-block; margin-right: 8px; }

.leaflet-popup-content .stop-name { padding-bottom: 8px; display: inline-block; }
.leaflet-popup-content .stop-id { font-size: 10px; color: #999; }

#service-info { padding-top: 5px; }
#service-info div { color: #3C4E5A; font-weight: normal; }
